<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VocalFun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C18AC0081EA7D20B00C4EDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18AC01C1EA7D20B00C4EDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18AC0271EA7D20B00C4EDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
